<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{% block title %}Base Page{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href="{{ url_for('index') }}">Index Page</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if not session.email %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <br>
    {% include 'includes/_message.html' %}
    <div class="container">
        <div class="jumbotron">

            {% block jumbotron %}
                <h1>No content</h1>
            {% endblock %}

        </div>
        {% block content %}
            <h1>No content</h1>
        {% endblock %}
    </div>
</body>
</html>