{% extends 'base.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block jumbotron %}
    <h1>Welcome to Login Page!</h1>
    <h2>Please sign in</h2>
{% endblock %}

{% block content %}
<form method="POST">
    <div class="form-group">
        <label for="usrname_field">Email address</label>
        <input type="text" class="form-control" id="usrname_field" name="email">
    </div>
    <div class="form-group">
        <label for="password_field">Password</label>
        <input type="password" class="form-control" id="password_field" name="password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="checkbox">
        <label class="form-check-label" for="checkbox">Remember Me</label>
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>
{% endblock %}